beautifulsoup4
brotlipy
bs4
chardet
click
colorama
configparser
crayons
cycler
dnspython
Flask
Flask-Cors
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pymongo
pyparsing
python-dateutil
pytz
redis
requests
rq
nltk
selenium
six
soupsieve
urllib3
webdriver-manager
Werkzeug
wincertstore
